@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 10px;
}
/* main image*/
/* animation value main image*/
.container-img {
  position: relative no repeat no repeat;
  text-align: center;
  color: white;
  
  width:100%;
  height: auto;

  animation-name: container-zoom;
  animation-duration: 5s;
  animation-fill-mode:  forwards;
}

#container-outer{
    
    width:100%;
    overflow: hidden;
}

/* zoom main image*/

@keyframes container-zoom{
    from{
        transform: scale(1)
    }
    to{
        transform: scale(1.1)
    }
}



/* Centered text main image*/

.centered {
  font-size: 42px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  max-width: 100%;
}


  
  

#wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    
}

#about{
    background-image: url(../image/IMG_6164.jpg);
    background-position: center;
}

#for-who{
    background-image: url(../image/IMG_6164.jpg);
    background-position: center;
}

#what-can{
    background-image: url(../image/IMG_6164.jpg);
    background-position: center;
}

#location{
    background-image: url(../image/IMG_6164.jpg);
    background-position: center;
}

#gallery{
    background-color: black;
    background-position: center;
    color: #ebebeb
}
#pricing{
    background-color: rgb(192, 113, 113);
    background-position: center;
}
#contact{
    background-color: black;
    background-position: center;
}

.row {
    padding-left: 12%;
}

a {
    padding-left: 12%;
}



body{
    font-family: lato;
}

.responsive{
    max-width: 100%;
    height: auto;
}

/* navbar over main image position and...*/

#navbarTogglerDemo02 li{
    margin-right: 30px;  
    margin-top: 3%; 
    
}

.navbar{
    float: right;
}

.container-nav{
    float: left;
    
}

.nav-link:hover{
    border-bottom: 1px solid #f7f4f4;
}

.nav-link{
    border-bottom: 1px solid #e71818;
}


/* The company logo */

.brand-name{
    margin-left: 1%;
}


/* Thumbnail 3 houses under the main picture */

.justify-content-center{
    justify-content: center;
    margin-top: 30px;
}



.col-md-9 mb-md-0 mb-5{
  width: 70px;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/* over footer banner*/

.w3-bar .w3-bar-item{
text-align: center;
float: none !important;
}




.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}
